.c-hamburger {
  display: block;
  position: relative;
  border-radius: 5px;
  margin-right: 9px;
  /* display: flex;
    transform: rotate(90deg); */
  &:before {
    content: "";
    position: absolute;
    height: 3px;
    top: 70%;
    left: 50%;
    width: 20px;
    border-radius: 23%;
    background-color: $mp-black;
    transform: translate(-50%, -50%);
  }
  &:after {
    content: "";
    position: absolute;
    height: 3px;
    top: 35%;
    width: 20px;
    left: 50%;
    border-radius: 23%;
    transform: translate(-50%, -50%);
    background-color: $mp-black;
  }
}
