.c-open-at {
    background-color: $mp-purple;
    .icon {
        color: $mp-white;
        font-size: 20px;
    }
    &__hours {
        display: inherit;
        flex-direction: column;
        letter-spacing: 1px;
        font-weight: 600;
        color: $mp-white;
        &--open {
            margin-bottom: -9px;
        }
    }
}