.c-search {
  margin-top: 55px;
  background-color: $input-lightGray;
  display: flex;
  position: relative;
  align-items: center;
  height: 50px;
  .icon {
    transform: translateY(-1px);
    color: $mp-black;
    margin-right: 15px;
    font-size: 19px;
  }
  input {
    background-color: $input-lightGray;
    border: none;
    width: 100%;
    outline: none;
    ::placeholder {
      color: $input-gray;
    }
  }
}


