.c-today {
    display: flex;
    align-items: center;
    background-color: $mp-green;
    justify-content: space-between;
    padding: 40px 0 15px;
    margin-top: -22px;
    h2 {
        color: $mp-white;
        font-size: 16px;
        letter-spacing: 2px;
        font-weight: 600;
        text-transform: uppercase;
    }
    .icon {
        color: $mp-white;
        font-size: 20px;
        font-weight: 700;
    }
}

