h1.mp-title {
  margin: 30px auto;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 30px;
  &--section {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 25px;
  }
}

h1.title-store {
  font-size: 20px;
  font-weight: 600;
  color: $mp-white;
  text-align: center;
  width: 50%;
  margin: 10px auto 30px;
  text-transform: uppercase;
}

.text-bold {
  font-weight: 900 !important;
}

.mr-20 {
  margin-right: 8px !important; 
}