.c-news {
  padding-bottom: 50px;
  border-radius: 100px;
  display: block;
  position: relative;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: $mp-white;
  z-index: 20;
}