.c-stores {
  padding: 50px 0;
  transform: translateY(-25px);
  background-color: $mp-red;
  h3 {
    color: $mp-white;
    font-size: 16px;
    text-align: center;
    width: 90%;
    margin: 0 auto;
  }
}
