.c-stores {
  padding: 80px 0;
  margin-bottom: -50px;
  transform: translateY(-25px);
  background-color: $mp-red;
  h3 {
    color: $mp-white;
    font-size: 16px;
    text-align: center;
    width: 90%;
    margin: 0 auto;
  }
}
