.c-todayToggled {
  background: #f2f2f2;
  transform: translateY(100%);
  z-index: -10;
  position: relative;
  margin-top: 2rem;
  padding: 2rem 0;
  opacity: 0 !important;
  text-align: center;
  margin-top: -535px !important;
  transition: 0.3s all;
  backface-visibility: hidden;
  &__subtitle {
    font-size: 22px;
    display: block;
  }
  &__title {
    font-size: 32px;
    font-weight: 900;
    text-transform: uppercase;
  }
  .c-today-tabs {
    &__tabs {
      margin: 1.5rem 0;
      list-style: none;
      display: flex;
      justify-content: space-around;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        height: 1px;
        width: 100%;
        background: #d8d8d8;
      }
      &::before {
        content: "";
        position: absolute;
        height: 1px;
        width: 100%;
        background: #d8d8d8;
        bottom: 0;
      }
    }
    &__tab {
      padding: 12px 0;
      margin: 0;
      outline: none;
      &:focus {
        outline: none;
      }
      color: gray;
      font-size: 17px;
      text-transform: uppercase;
      font-weight: 600;
      cursor: pointer;
    }
    &__tab.react-tabs__tab--selected,
    &__tab.react-tabs__tab--selected:hover,
    &__tab.react-tabs__tab--selected:focus {
      color: $mp-red;
      position: relative;
      background: #f2f2f2;
      transition: 0.3s all;
      backface-visibility: hidden;
      &::after {
        content: "";
        transition: 0.1s all;
        position: absolute;
        background: $mp-red;
        height: 4px;
        border-radius: 10px;
        width: 110px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &__tab.react-tabs__tab--selected:active {
      transition: 0.3s all;
      &::after {
        // transition: 0.3s all;
        width: 0px;
      }
    }
    &__info {
      text-align: center;
      &__main {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      margin-top: 40px;
      .icon {
        text-align: center;
        color: green;
        font-size: 60px;
        margin-bottom: 20px;
      }
      &-title {
        font-size: 33px;
        font-weight: 900;
        text-transform: uppercase;
        color: green;
      }
      &-subtitle {
        font-size: 20px;
        font-weight: 600;
        margin-top: -10px;
      }
    }
    &__info-list {
      padding: 30px 0 0;
      list-style: none;
      li {
        color: $mp-black;
        span {
          &:not(:last-child) {
            font-weight: 600;
          }
        }
      }
    }
  }
}

.c-todayToggled.todayIsOpen {
  transform: translateY(0) !important;
  z-index: 50 !important;
  margin-top: 60px !important;
  backface-visibility: hidden;
  opacity: 1 !important;
}
