
//bootstrap and proyects theme variables
// @import "bootstrap/scss/functions";

$prefix:                    'mp-';
$mp-red:                 #E9004B;
$mp-black:               #000;
$mp-white:               #fff;
$mp-grey:                #aeaeb3;
$mp-green:               #09b2b8;
$mp-purple:               #9F26B4;
$mp-font-color:          #595959;


//custom flexbox
$grid:                      12;
$grid-gutter:               .2rem;


$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;
//others

$facebook:                  #4568b2;

$font-family-base:          'Circular Std','fallback', Helvetica, Arial, sans-serif;

$primary:                   $mp-red;
$secondary:                 $mp-black;
$third:                     #484848;
$red:                       $mp-red;
$blue:                      #548cff;
$green:                     #2fdab8;

// Body Elements

$body-color:                $mp-font-color;
$paragraph-margin-bottom:   0;
$headings-margin-bottom:    0;

// Anchor Elements

$link-color:                $secondary;
$link-hover-color:          darken($link-color, 20%);
$link-hover-decoration:     none;

$enable-gradients:          true;
$enable-transitions:        true;

//layout padding

$grid-gutter-width:         38px !default;

//font size

//$font-weight-light: ;
$font-weight-normal:        200;
$font-weight-bold:          900;

//inputs
$input-lightGray:           #efefef;
$input-gray:           #969696;

* {
  font-family: 'Raleway', sans-serif !important;
}

//box-shadows

$light-grey: rgba(0,0,0, .13);

//banner image navigator

//buttons

//$btn-font-weight            : 300;
// @import "config/mixins";
// @import "config/placeholders";
// @import "bootstrap/scss/mixins";
// @import "bootstrap/scss/mixins/breakpoints";
